@font-face {
    font-family: FieldsOfMistria; 
    src: url(fields-of-mistria.otf);
}
body{
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1200px;
}
#root{
    display: grid;
    grid-template-rows: min-content 1fr 1fr;
    grid-template-areas: "menu"
    "translator"
    "mock";
    height: 100%;
    row-gap: 10px;
}
#menu{
    grid-area: menu;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
#translator{
    grid-area: translator;
    display:grid;
    grid-template-columns: 1fr 1fr min-content;
    column-gap: 7px;
    row-gap: 5px;
}
#screen-mock{
    font-family: FieldsOfMistria;
    grid-area: mock;

    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.is-init{
    border-top: 1px dashed black;
}
#dialog-section{
    background-image: url("dialog_bar.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}
#dialog-name{
    padding-left: 7%;
    font-size: 1.25em;
    padding-top: 1.5%;
}
#dialog-text{
    color: white;
    padding-left: 2%;
    padding-top: 2%;
    font-size: 1.6em;
    width: 95%;
}
.line-index{
    background-color: #FFFFFF90;
    font-size: 0.7em;
    border-bottom: 1px solid black;
}
.original-line, .translated-line {
    background-color: #FFFFFFF1;
}
.original-line{
    text-align: right;
}
.translated-line
{
    font-family: Verdana;
    resize: none;
    border-radius: 0;
}
.is-translated{
    display: flex;
    align-items: center;
}